<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IisPoolManager.IISPoolManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <IisPoolManager.IISPoolManager>
            <setting name="pool" serializeAs="String">
                <value>edoclib</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>osin</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>osin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>lbvfnb1989@@###</value>
            </setting>
        </IisPoolManager.IISPoolManager>
    </userSettings>
</configuration>